<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Mães Solidárias</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../img/faicon2.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Avilon
      Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">Mães Solidárias</a></h1>
        </div>

        <!- Menu -->
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">Quem Somos</a></li>
                <li><a href="#features">Valores</a></li>
                <li><a href="#more-features">Missão</a></li>
                <li><a href="#team">Visão</a></li>
                <li><a href="#doar">Doações</a></li>
                <li><a href="admin">Admin</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">

    <div class="intro-text">
        <h2>Juntas, amparando umas as outras</h2>
    </div>

</section><!-- #intro -->
<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">
            <div class="section-header">
                <h3 class="section-title">Quem somos?</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Através da nossa união buscamos transformar a vida de famílias.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 about-img wow fadeInLeft">
                    <img src="../img/about-img.jpg" alt="">
                </div>
                <div class="col-lg-6 content wow fadeInRight">
                    <h3><br><br>O Projeto Mães Solidárias representa um grupo de mães e mulheres despertadas por Deus
                        para prestar
                        solidariedade às gestantes, mães e recém-nascidos carentes. O grupo atuará diretamente na
                        comunidade através
                        de demandas vindas, principalmente, das igrejas e mídias sociais.
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <!-- #about -->

    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 class="section-title">Nossos Valores</h3>
                        <span class="section-divider"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="../img/coracao.png" alt="" class="wow fadeInLeft">
                </div>

                <div class="col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box wow fadeInRight">
                            <div class="icon"><i class="ion-heart"></i></div>
                            <h4 class="title"><a href="">Fé</a></h4></div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                            <div class="icon"><i class="ion-ios-pulse"></i></div>
                            <h4 class="title"><a href="">Vida</a></h4>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="ion-android-people"></i></div>
                            <h4 class="title"><a href="">Família</a></h4>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon"><i class="ion-ios-clock"></i></div>
                            <h4 class="title"><a href="">Comprometimento</a></h4>
                        </div>
                    </div>

                </div>

            </div>
            <br><br><br>
        </div>

    </section><!-- #features -->

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="more-features" class="section-bg">
        <div class="container">

            <div class="section-header">
                <div class="section-header wow fadeIn" data-wow-duration="1s">
                    <h3 class="section-title" text>Missão</h3>
                    <span class="section-divider"></span>
                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <img class="advanced-feature-img-right wow fadeInRight" src="../img/missao.png" alt="">
                            <div class="wow fadeInLeft">
                                <h3><br><br>Oferecer respaldo afetivo, psicológico e espiritual a essas mães durante e
                                    após a gestação. Além disso, dar apoio através da distribuição de um kit padrão do
                                    primeiro enxoval,
                                    exaltando e valorizando a experiência da gestação através do amor, cumplicidade e
                                    encorajamento para vivenciar o momento.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section><!-- #advanced-features -->

    <!--==========================
      Clients
    ============================-->
    <section id="clients">
        <div class="container">

            <div class="section-header">
                <div class="section-header wow fadeIn" data-wow-duration="1s">
                    <br>
                    <h3 class="section-title" text>Apoio:</h3>
                    <span class="section-divider"></span>

                    <div class="row wow fadeInUp">
                        <div class="col-md-2">
                            <img src="../img/apoio/apoio.png" alt="" id="apoio1">
                        </div>

                        <div class="col-md-2">
                            <img src="../img/apoio/apoio2.png" alt="" id="apoio2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #more-features -->


    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Visão</h3>
                <span class="section-divider"></span>
                <p class="section-description">O objetivo do projeto é levar amor, apoio e compreensão às gestantes,
                    mães e recém-nascidos carentes.</p>
            </div>
        </div>
    </section><!-- #team -->

    <!-- ===========================
             Como doar
    ===============================-->

    <section id="doar" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Como doar?</h3>
                <span class="section-divider"></span>
                <p class="section-description">A doação é um exercício de desapego. Ela deve beneficiar mais quem
                    doa do que quem recebe. Todas as pessoas que lhe pedem dinheiro ou qualquer tipo de doação
                    são como professores que vêm lhe ensinar e lhe conceder uma oportunidade para você exercitar
                    e praticar a generosidade. E tenho acreditado cada vez mais que quando uma pessoa muito debilitada
                    vem nos pedir ajuda, temos obrigação de ajudar só por termos tido a bênção de não estarmos naquela
                    situação.

                </p>
            </div>
        </div>
    </section>

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery">
        <div class="container-fluid">
            <div class="section-header">
                <h3 class="section-title">Galeria</h3>
                <span class="section-divider"></span>
                <p class="section-description">Fotos de nossos projetos e de nossas voluntárias.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/1.jpg" class="gallery-popup">
                            <img src="../img/gallery/1.jpg" alt="" id="foto1">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/2.jpg" class="gallery-popup">
                            <img src="../img/gallery/2.jpg" alt="" id="foto2">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/3.jpg" class="gallery-popup">
                            <img src="../img/gallery/3.jpg" alt="" id="foto3">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/4.jpg" class="gallery-popup">
                            <img src="../img/gallery/4.jpg" alt="" id="foto4">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/5.jpg" class="gallery-popup">
                            <img src="../img/gallery/5.jpg" alt="" id="foto5">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="../img/gallery/6.jpg" class="gallery-popup">
                            <img src="../img/gallery/6.jpg" alt="" id="foto6">
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- #gallery -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <div style="text-align: center;"><h3>Mães Solidárias</h3>
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="ion-ios-location-outline"></i>
                            <p>Porto Alegre/RS</p>
                        </div>

                        <div>
                            <i class="ion-ios-email-outline"></i>
                            <p>vamoscriar@gmail.com</p>
                        </div>
                    </div>
                </div>
                <img src="../img/borboleta.png" alt="" id="foto7">
            </div>

        </div>

        </div>
    </section><!-- #contact -->

</main>

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left text-center">
                <div class="copyright">
                    &copy; Copyright <strong>Avilon</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- #footer -->

<!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->

<!-- JavaScript Libraries -->
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/jquery/jquery-migrate.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/wow/wow.min.js"></script>
<script src="../lib/superfish/hoverIntent.js"></script>
<script src="../lib/superfish/superfish.min.js"></script>
<script src="../lib/magnific-popup/magnific-popup.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../js/main.js"></script>

</body>
</html>
